# DB
DB_HOST=postgres
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=meteo_db

# Détecteur d'événements
DETECTOR_INTERVAL_MINUTES=60
STORM_WIND_THRESHOLD=80
STORM_DURATION_HOURS=3
HEATWAVE_TEMP_THRESHOLD=35
HEATWAVE_DURATION_DAYS=3
COLDWAVE_TEMP_THRESHOLD=0
COLDWAVE_DURATION_DAYS=3
FLOOD_PRECIP_THRESHOLD=50